<footer id="main-footer">
    <ul>
        <li>&copy;MusicZone</li>
        <li><a href="/items/about">About</a></li>
        <li><a href="/items/contact">Contact</a></li>
    </ul>
    <ul>
        <li><a href="#" class="fa fa-twitter"></a></li>
        <li><a href="#" class="fa fa-facebook"></a></li>
    </ul>
</footer>