<%- include('./partials/header.ejs')%>
        <section id="showcase">
            <div class="container">
                <h1>
                    Welcome to your MusicZone!!!
                </h1>
            </div>
        </section>
        <div class="container">
            <section id="main">
                <p>A platform where you can trade music. The best artist in the market.<br>
                    Latest music on your click. </p>
                <h2><a href="/items">Explore more...!!</a></h2>
    
    
            </section>
        </div>
        <%- include('./partials/footer.ejs')%>
        
    
    </body>
    
    </html>