<%- include('../partials/header.ejs')%>
    <div class="formcontainer">
        <form action='/items' method='POST'>
            <div class="row">
                <div class="col-25">
                    <label>Name</label>
                </div>
                <div class="col-75">
                    <input type="text" name="name" placeholder="Name" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Category</label>
                </div>
                <div class="col-75">
                    <input type="text" name="category" placeholder="Category" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Details</label>
                </div>
                <div class="col-75">
                    <textarea name="details" placeholder="Description" required minlength="10"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Status</label>
                </div>
                <div class="col-75">
                    <input type="text" name="status" placeholder="Status" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Image</label>
                </div>
                <div class="col-75">
                    <input type="text" name="image" placeholder="Image Path" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Year</label>
                </div>
                <div class="col-75">
                    <input type="text" name="year" placeholder="Year" required>
                </div>
            </div>
            
            <div class="row">
                <input type="submit" value="Create Trade">
            </div>

        </form>
    </div>
    <%- include('../partials/footer.ejs')%>
</body>

</html>