<%- include('./partials/header.ejs')%>
<section id="showcase">
    <div class="container">
        <h1>
            Welcome to About page!!!
        </h1>
    </div>
</section>

<%- include('./partials/footer.ejs')%>


</body>

</html>