<!DOCTYPE html>

    <html>
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>music zone</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>
    
        <div class="main-header">
            <div class="headercontainer">
                <a href="/"><img src="/images/logo.jpeg" alt="logo" /></a>
                <h1>MusicZone</h1>
    
            </div>
            <nav class="site-navigation">
                <ul class="nav">
                    <li><a href="/items/new">StartTrading</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">SignUp</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/items">Trades</a></li>
                <li><a href="/items/about">About</a></li>
            </ul>
    
        </div>